.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../src/pollution-2043666.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkslategray;
}

.nav-item a {
    color: white;
}
.nav-item a:hover {
    color: lightgray;
}

.navbar-secondary .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-secondary .navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.attribution {
    font-size: 8pt;
}

#co2counter {
    height: 500px;
}

#rounded-corners {
    border-radius: 25px;
}

@media only screen and (max-width: 575px) {
    #co2counter {
      height: 470px;
    }
}

@media only screen and (max-width: 541px) {
    #co2counter {
      height: 530px;
    }
}

@media only screen and (max-width: 513px) {
    #co2counter {
      height: 550px;
    }
}

@media only screen and (max-width: 390px) {
    #co2counter {
      height: 590px;
    }
}

@media only screen and (max-width: 365px) {
    #co2counter {
      height: 610px;
    }
}

@media only screen and (max-width: 345px) {
    #co2counter {
      height: 630px;
    }
}